/*------------------View CSS---------------------*/
#mainPane{
	-fx-background-color: #ecf0f1;
	-fx-pref-width: 590;
	-fx-min-width: 590;
	-fx-max-width: 590;
}

#programTitle{
	-fx-font-weight: bold;
	-fx-font-size: 30;
	-fx-padding: 0 0 0 5;
}

#classesPane{
	-fx-background-color: #a5dce9;
}

#classesPane > *{
	-fx-border-width: 1;
	-fx-border-color: black;
	-fx-border-style: solid;
}

#titleHeader, #gradeHeader, #creditsHeader, #qualityPointsHeader{
	-fx-font-weight: bold;
	-fx-text-alignment: center;
}

#titleHeader, #gradeHeader, #qualityPointsHeader{
	-fx-padding: 0 0 0 10;
}

.titleColumn, #titleHeader{
	-fx-pref-width: 150;
	-fx-min-width: 150;
	-fx-max-width: 150;
}

.gradeColumn, .gradeColumn ComboBox{
	-fx-pref-width: 73;
	-fx-min-width: 73;
	-fx-max-width: 73;
}

.creditsColumn{
	-fx-pref-width: 54;
	-fx-min-width: 54;
	-fx-max-width: 54;
}

.qualityPointsColumn{
	-fx-pref-width: 160;
	-fx-min-width: 160;
	-fx-max-width: 160;
}

.removeColumn{
	-fx-pref-width: 80;
	-fx-min-width: 80;
	-fx-max-width: 80;
}

#addClassButtonLeftSpacer{
	-fx-pref-width: 437;
	-fx-min-width: 437;
	-fx-max-width: 437;
}

#addClassButtonTopSpacer{
	-fx-pref-height: 8;
	-fx-min-height: 8;
	-fx-max-height: 8;
}

#existingGPAContainer Label{
	-fx-padding: 0 5 0 5;
	-fx-font-weight: bold;
}

#existingGPAContainer TextField{
	-fx-pref-width: 50;
	-fx-min-width: 50;
	-fx-max-width: 50;
}

#gpaLabel, #gpaOverall{
	-fx-padding: 0 6 0 6;
	-fx-font-size: 24;
	-fx-font-weight: bold;
}

#gpaLabel{
	-fx-background-color: #2a53b2;
	-fx-text-fill: white;
}

#gpaOverall{
	-fx-background-color: #0f0;
}

#resetButtonSpacer{
	-fx-pref-width: 30;
	-fx-min-width: 30;
	-fx-max-width: 30;
}

.errorLabel{
	-fx-text-fill: red;
}